<div class="container">
  <p-card>
    <h3>學生資料表</h3>
    <p-divider></p-divider>

    <p-table [value]="student" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>position</th>
          <th>Name</th>
          <th>height</th>
          <th>weight</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.position }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.height }}</td>
          <td>{{ product.weight }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
