<div class="container">

  <p-card>
    <h3>設備請購單</h3>
    <div style="display: flex; justify-content: flex-end; align-items: flex-start">
      <p-button (click)="newDialog()" pTooltip="新增" tooltipPosition="top" icon="pi pi-plus"
        styleClass="p-button-text"></p-button>
    </div>
    <p-divide></p-divide>
    <p-table [value]="apiData" [lazy]="true" [totalRecords]="100" [rows]="10" [paginator]="true"
    (onLazyLoad)="loadPostsLazy($event)">

      <ng-template pTemplate="header">
        <tr>
          <th>申請人</th>
          <th>請購編號</th>
          <th>公司名稱</th>
          <th>請購部門</th>
          <th>編輯</th>
          <th>刪除</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-purchase>
        <tr>
          <td>{{ purchase.purchase_user }}</td>
          <td>{{ purchase.purchase_code }}</td>
          <td>{{ purchase.purchase_company }}</td>
          <td>{{ purchase.purchase_department }}</td>
          <td><p-button (click)="editDialog(purchase)" icon="pi pi-pencil"
              styleClass="p-button-rounded p-button-secondary p-button-outlined"></p-button></td>
          <td><p-button (click)="delete(purchase.purchase_id)" icon="pi pi-trash"
              styleClass="p-button-rounded p-button-secondary p-button-outlined"></p-button></td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

<!-- 編輯 -->
<!--新增formGroup-->
<!--新增formControlName-->
<form [formGroup]="form">
  <!--Dialog-->
  <p-dialog [(visible)]="visible" header="編輯">
    <div class="formgrid grid">
      <div class="field col-6">
        <label><span class="required">*</span> 申請人</label>
        <input pInputText formControlName="purchase_user">
      </div>
      <div class="field col-6">
        <dt>請購編號：</dt>
        <p>
          <dd>{{(form.controls['purchase_code'].value)}}</dd>
        </p>
      </div>
      <div class="field col-6">
        <label><span class="required">*</span>公司名稱</label>
        <input pInputText formControlName="purchase_company">
      </div>
      <div class="field col-6">
        <label> <span class="required">*</span>請購部門</label>
        <input pInputText formControlName="purchase_department">
      </div>
      <div class="field col-6">
        <label> <span class="required">*</span>品名</label>
        <input pInputText formControlName="purchase_item">
      </div>
      <div class="field col-6">
        <label> <span class="required">*</span>請購數量</label>
        <input pInputText formControlName="purchase_prquantity">
      </div>
      <div class="field col-6">
        <label><span class="required">*</span>單價</label>
        <input pInputText formControlName="purchase_price">
      </div>
      <div class="field col-6">
        <label><span class="required">*</span>創建者</label>
        <input pInputText formControlName="created_by">
      </div>
      <div class="ml-auto">
        <p-button (click)="patch(id)" label="儲存" styleClass="p-button-outlined p-button-info"></p-button>
        <p-button styleClass="p-button-secondary" (click)="cancel()" label="取消"></p-button>
      </div>
    </div>
  </p-dialog>
</form>


<!-- 新增 -->
<!--新增formGroup-->
<!--新增formControlName-->
<form [formGroup]="form">
<!--新增Dialog-->
<p-dialog [(visible)]="addData" header="新增">
  <div class="formgrid grid">
    <div class="field col-6">
      <label><span class="required">*</span> 申請人</label>
      <input pInputText formControlName="purchase_user">
    </div>
    <div class="field col-6">
      <dt>請購編號：</dt>
      <p>
        <dd></dd>
      </p>
    </div>
    <div class="field col-6">
      <label> <span class="required">*</span>公司名稱</label>
      <input pInputText formControlName="purchase_company">
    </div>
    <div class="field col-6">
      <label> <span class="required">*</span>請購部門</label>
      <input pInputText formControlName="purchase_department">
    </div>
    <div class="field col-6">
      <label><span class="required">*</span>品名</label>
      <input pInputText formControlName="purchase_item">
    </div>
    <div class="field col-6">
      <label><span class="required">*</span>請購數量</label>
      <input pInputText formControlName="purchase_prquantity">
    </div>
    <div class="field col-6">
      <label> <span class="required">*</span>單價</label>
      <input pInputText formControlName="purchase_price">
    </div>
    <div class="field col-6">
      <label> <span class="required">*</span>創建者</label>
      <input pInputText formControlName="created_by">
    </div>
    <div class="ml-auto">
      <p-button styleClass="p-button-outlined p-button-info" (click)="post()" label="新增"></p-button>
      <p-button styleClass="p-button-secondary" (click)="cancel()" label="取消"></p-button>
    </div>
  </div>
</p-dialog>
</form>
