<div class="container">

  <p-card>
    <h3>設備請購單</h3>
    <div style="display: flex; justify-content: flex-end; align-items: flex-start">
      <p-button (click)="addData = true" pTooltip="新增" tooltipPosition="top" icon="pi pi-plus"
        styleClass="p-button-text"></p-button>
    </div>
    <!-- 新增按鈕 -->
    <!-- <ng-template pTemplate="caption">
      <div style="display: flex; justify-content: flex-end">

        <p-button (click)="addData=true" pTooltip="新增" tooltipPosition="top" icon="pi pi-plus"
          styleClass="p-button-text"></p-button>
      </div>
    </ng-template> -->
    <p-divide></p-divide>
    <p-table [value]="purchase" [tableStyle]="{ 'min-width': '50rem' }">

      <ng-template pTemplate="header">
        <tr>
          <th>申請人</th>
          <th>請購編號</th>
          <th>公司名稱</th>
          <th>請購部門</th>
          <th>編輯</th>
          <th>刪除</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-purchase>
        <tr>
          <td>{{ purchase.user }}</td>
          <td>{{ purchase.id }}</td>
          <td>{{ purchase.company }}</td>
          <td>{{ purchase.department }}</td>
          <td><p-button (click)="editDialog(purchase)" icon="pi pi-pencil"
              styleClass="p-button-rounded p-button-secondary p-button-outlined"></p-button></td>
          <td><p-button (click)="delete(purchase)" icon="pi pi-trash"
              styleClass="p-button-rounded p-button-secondary p-button-outlined"></p-button></td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>


<!--新增formGroup-->
<!--新增formControlName-->
<form [formGroup]="form">
  <!--Dialog-->
  <p-dialog [(visible)]="visible" header="編輯">
    <div class="formgrid grid">
      <div class="field col-6">
        <label><span class="required">*</span> 申請人</label>
        <input pInputText>
      </div>
      <div class="field col-6">
        <dt>請購編號：</dt>
        <p>
          <dd>{{data.id}}</dd>
        </p>
      </div>
      <div class="field col-6">
        <label><span class="required">*</span>公司名稱</label>
        <input pInputText>
      </div>
      <div class="field col-6">
        <label> <span class="required">*</span>請購部門</label>
        <input pInputText>
      </div>
      <div class="field col-6">
        <label> <span class="required">*</span>品名</label>
        <input pInputText>
      </div>
      <div class="field col-6">
        <label> <span class="required">*</span>請購數量</label>
        <input pInputText>
      </div>
      <div class="field col-6">
        <label><span class="required">*</span>單價</label>
        <input pInputText>
      </div>
      <div class="field col-6">
        <label><span class="required">*</span>創建者</label>
        <input pInputText>
      </div>
      <div class="ml-auto">
        <p-button (click)="confirm()" label="儲存" styleClass="p-button-outlined p-button-info"></p-button>
        <p-button styleClass="p-button-secondary" (click)="cancel()" label="取消"></p-button>
      </div>
    </div>
  </p-dialog>
</form>


<!--Dialog-->
<p-dialog [(visible)]="addData" header="新增">
  <div class="formgrid grid">
    <div class="field col-6">
      <label><span class="required">*</span> 申請人</label>
      <input pInputText>
    </div>
    <div class="field col-6">
      <dt>請購編號：</dt>
      <p>
        <dd>{{data.id}}</dd>
      </p>
    </div>
    <div class="field col-6">
      <label> <span class="required">*</span>公司名稱</label>
      <input pInputText>
    </div>
    <div class="field col-6">
      <label> <span class="required">*</span>請購部門</label>
      <input pInputText>
    </div>
    <div class="field col-6">
      <label><span class="required">*</span>品名</label>
      <input pInputText>
    </div>
    <div class="field col-6">
      <label><span class="required">*</span>請購數量</label>
      <input pInputText>
    </div>
    <div class="field col-6">
      <label> <span class="required">*</span>單價</label>
      <input pInputText>
    </div>
    <div class="field col-6">
      <label> <span class="required">*</span>創建者</label>
      <input pInputText>
    </div>
    <div class="ml-auto">
      <p-button styleClass="p-button-outlined p-button-info" (click)="post()" label="新增"></p-button>
      <p-button styleClass="p-button-secondary" (click)="cancel()" label="取消"></p-button>
    </div>
  </div>
</p-dialog>
