<div class="container">
  <p-card>
    <h3>問卷</h3>
    <p-divide></p-divide>

    <div class="formgrid grid">
      <div class="field col-6">
        <div class="flex flex-column gap-2">
          <label>姓名</label>
          <input pInputText>
        </div>
      </div>
      <div class="field col-6">
        <div class="flex flex-column gap-2">
          <label>手機</label>
          <input pInputText>
        </div>
      </div>

      <div class="field col-6">
        <label for="exampleInputPassword1">密碼</label>
        <input type="password"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          id="exampleInputPassword1">
      </div>

      <div class="field col-6">
        <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues" label="Angular"></p-checkbox>
        <p-checkbox name="groupname" value="val2" [(ngModel)]="selectedValues" label="bonita"></p-checkbox>
        <p-checkbox name="groupname" value="val3" [(ngModel)]="selectedValues" label="database"></p-checkbox>
        <p-checkbox name="groupname" value="val4" [(ngModel)]="selectedValues" label="golang"></p-checkbox>
      </div>
    </div>



    <div class="formgrid grid">
      <div class="field col-6">
        <div class="flex flex-column gap-2">
          <label for="exampleInputPassword2">確認密碼</label>
          <input type="password"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            id="exampleInputPassword2">
        </div>
      </div>

      <div class="field col-6">
        <div class="flex flex-column gap-2">
          <label>E-mail</label>
          <input pInputText>
        </div>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field col-6">
        <label>城市</label>
        <p-dropdown [options]="lang" placeholder="台灣" optionLabel="name" [showClear]="true">
        </p-dropdown>
      </div>

      <div class="field col-6">
        <label>職業</label>
        <p-dropdown [options]="lang2" placeholder="學生" optionLabel="name" [showClear]="true">
        </p-dropdown>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field col-6">
        <label>填寫日期</label>
        <div class="flex flex-column gap-3" class="mt-2">
          <p-calendar [showIcon]="true"></p-calendar>
        </div>
      </div>

      <div class="field col-6">
        <label>性別</label>

        <div class="flex flex-wrap gap-3 mt-3">
          <div class="flex align-items-center">
            <p-radioButton name="gender" value="male" [(ngModel)]="ingredient" inputId="ingredient1"></p-radioButton>
            <label for="ingredient1" class="ml-2">男</label>
          </div>

          <div class="flex align-items-center">
            <p-radioButton name="gender" value="female" [(ngModel)]="ingredient" inputId="ingredient2"></p-radioButton>
            <label for="ingredient2" class="ml-2">女</label>
          </div>

          <div class="flex align-items-center">
            <p-radioButton name="gender" value="other" [(ngModel)]="ingredient" inputId="ingredient3"></p-radioButton>
            <label for="ingredient3" class="ml-2">其他</label>
          </div>
        </div>
      </div>

      <div class="field col-6">
        <label for="address">問題/評論</label>
        <textarea id="address" type="text" rows="4"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
      </div>

      <div class="field col-6 row align-items-end">
        <div class="text-align:right" style="margin-left: 80%;">
          <button pButton pRipple label="送出"></button>
        </div>
      </div>

    </div>
  </p-card>
</div>
