<div class="container">
  <p-card>
    <h3>基本資料</h3>
    <p-divide></p-divide>
    <div class="formgrid grid">
      <div class="field col">
        <div class="flex flex-column gap-2">
          <label>姓名</label>
          <input pInputText>
        </div>
      </div>
      <div class="field col">
        <div class="flex flex-column gap-2">
          <label>系所</label>
          <input pInputText>
        </div>
      </div>
      <div class="field col">
        <div class="flex flex-column gap-2">
          <label>年級</label>
          <input pInputText>
        </div>
      </div>
      <div class="field col">
        <div class="flex flex-column gap-2">
          <label>性別</label>
          <input pInputText>
        </div>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field col">
        <div class="flex flex-column gap-2">
          <label>出生年</label>
          <input placeholder="西元" pInputText>
        </div>
      </div>
      <div class="field col">
        <div class="flex flex-column gap-2">
          <label>出生月</label>
          <input placeholder="出生月" pInputText>
        </div>
      </div>
      <div class="field col">
        <div class="flex flex-column gap-2">
          <label>出生日</label>
          <input placeholder="出生日" pInputText>
        </div>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field col">
        <div class="flex flex-column gap-2">
          <label>地址</label>
          <input placeholder="地址" pInputText>
        </div>
      </div>
    </div>
    <div class="formgrid grid">
      <div class="field col">
        <div class="flex flex-column gap-2">
          <label>電子郵件</label>
          <input placeholder="email" pInputText>
        </div>
      </div>
      <div class="field col">
        <div class="flex flex-column gap-2">
          <label>連絡電話</label>
          <input placeholder="09xx" pInputText>
        </div>
      </div>

    </div>
    <div class="text-center">
    <button pButton pRipple label="Submit" class="p-button-success"></button>
    <p-button label="Secondary" styleClass="p-button-outlined p-button-secondary"></p-button>
  </div>
  </p-card>
</div>
