//primng
p-card {
  margin: 10px;
}

//強制更改Primeng預設樣式
// :host ::ng-deep {
//   .p-card {
//     border-radius: 10px;
//   }
//   .p-button{
//     border-radius: 6px;
//   }

//}

:host ::ng-deep {
  // .p-password {
  //   min-width: 100%;
  //   max-width: 100%;
  // }

  .p-checkbox {
    width: 100%;
    border-radius: 6px;
    //上、右、下、左
    margin: 40px 0;
  }

  .p-dropdown {
    min-width: 100%;
    max-width: 100%;
    margin: 10px 0 0 0;
  }

  .p-calendar {
    min-width: 100%;
    max-width: 100%;
  }

  .textarea {
    min-width: 100%;
    max-width: 100%;
  }

  p-button,
  button {
    margin-right: 5px;
    border-radius: 6px;
    margin: 5px 5 0px 5px;
  }

  .p-dialog {
    width: 40%;
    // height: 500px;
  }

    .required {
    color: red;
    margin-left: 4px;
  }
}

  //對dt及dd元件進行樣式修改
  dt,
  dd {
    //去掉粗體
    font-weight: normal;
    //使dt與dd在同一行
    display: inline;
    //邊界設為0
    margin: 0;
    //字型大小
    font-size: 18px;
  }


  input {
    width: 100%;
    border-radius: 6px;
    //上、右、下、左
    margin: 5px 0 20px 0px;
  }

  h3 {
    text-align: center;
    font-weight: bold;
    //上、右、下、左
    margin: 0 0 0px 0;
  }

  //使網頁內容置中
  .container {
    margin: 0 auto;
    margin-top: 5px;
    padding: 0 15px;
    width: 1200px;
    max-width: 100%;
  }



